---
import { FOOTER } from "@/consts";

// const today = new Date();
---

<footer>
  <div class="social-links">
    {
      FOOTER.map((link) => (
        <a href={link.link} target="_blank">
          {link.name}
        </a>
      ))
    }
  </div>
</footer>
<style>
  footer {
    padding: 0.5rem 0;
    opacity: 0.8;
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: var(--accent);
      transition-duration: 0.4s;
    }
  }
</style>
