---
import GithubSVG from "@/svg/github.astro";
import TwitterSVG from "@/svg/twitter.astro";
import { SITE_TITLE, LINKS } from "../consts";
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links"></div>
    <div class="social-links">
      <a href={LINKS.TWITTER} target="_blank" aria-label="Twitter Icon">
        <TwitterSVG />
      </a>
      <a href={LINKS.GITHUB} target="_blank" aria-label="GitHub Icon">
        <GithubSVG />
      </a>
    </div>
  </nav>
</header>

<style>
  header {
    position: sticky;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    backdrop-filter: blur(8px);
    z-index: 100;
    padding: 1rem 0;
  }

  h2 {
    margin: 0;
    font-size: 1.5rem;
    transform: translateY(0);
    transition: all 0.3s ease;
  }

  h2:hover {
    transform: translateY(-2px);
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
    color: var(--black);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .social-links {
    display: flex;
    gap: 1rem;
  }

  .social-links a {
    display: flex;
    align-items: center;
    color: var(--black);
    opacity: 0.8;
    transform: translateY(0);
    transition: all 0.3s ease;
  }

  .social-links a:hover {
    opacity: 1;
    transform: translateY(-2px);
    color: var(--accent);
  }

  @media (max-width: 720px) {
    header {
      padding: 0.5rem 0;
    }

    .social-links {
      display: none;
    }
  }
</style>
