---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import SEO from "@/components/SEO.astro";
import ButtonUp from "@/components/ui/ButtonUp.astro";
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";
interface Props {
  title: string;
  description: string;
  canonical?: string;
  image?: string;
  lang?: string;
}
const { title, description, canonical, image } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <SEO
      description={description}
      title={title}
      image={image}
      canonical={canonical}
    />
    <slot name="head" />
    <ClientRouter />
  </head>
  <body>
    <Header />
    <div>
      <slot />
    </div>
    <ButtonUp />
    <Footer />
  </body>
</html>
<style>
  body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
  }
</style>
